.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 6rem;
  min-height: 100vh;
}

.button {
  background-color: #4338CA;
  width: 350px;
}